page-visit-form {
  .content {
    color: #545454;
  }

  h3.categorie {
    color: #343434;
    font-size: 2.3rem;
  }

  .btn-service {
    border-radius: 8px;
    background-color: #d9d9d9;
    text-transform: none;
    color: #343434;
    font-weight: 400;
  }

  .btn-service .icon {
    margin-left: 8px;
  }

  textarea.text-input {
    margin-left: 0px;
  }
}
