page-estimate-list {
  .scroll-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .list .item {
    padding-left: 0px;
  }

  .list .item h3:first-child {
    margin-top: 2px !important;
  }

  ion-thumbnail img {
    padding: 5px;
  }

  .list .item .item-inner {
    padding-top: 5px;
  }

  .status {
    font-size: 1.2rem;
    font-weight: 600;
    color: #666;
    margin-left: 8px;
    text-transform: uppercase;
  }
}
